---
import Header from "../components/Header.astro";
import "../styles/global.css";

---

<!DOCTYPE html  >
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/ico.png" sizes="32x32">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6233504813572741"
     crossorigin="anonymous"></script>
     <!-- Start cookieyes banner --> <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/0502ad290535f97011bb02b3/script.js"></script> <!-- End cookieyes banner -->
    <title>APAfy</title>
    
  </head>
  <body class="bg-white text-gray-800 antialiased">
    <Header />
    <slot />
    
  </body>
  
</html>
